.title {
  font-size: 20px;
  font-weight: 700;
}

.images {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 10px;
}

.image {
  max-height: 350px;
  box-shadow: 4px 4px 18px 0px rgba(177, 185, 190, 0.2);

  @media (max-width: 600px) {
    max-width: 100%;
  }
}
